* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 500px;
  height: 500px;
}

.container {
  display: grid;
  background-color: #bd2217;
  width: 100vw;
  height: 100vh;
  justify-items: center;
}

.title {
  display: grid;
  place-items: center;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  text-align: center;
}

p{
  text-align: center;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  padding: 5px;
}


